<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Zappos</title>
  </head>
  <body>
    <div class="container">
      <h3>{{ brands.getName }} info</h3>
       <h5>Stores that carry this brand:</h5>
        {% if shoe_stores is not empty %}
          <ul>
            {% for store in shoe_stores %}
              <li><a href="/store/{{ store.getId }}">{{ store.getName }}</a></li>
            {% endfor %}
          </ul>
            {% else %}
              <p>There are no stores listed...
        {% endif %}
        <div class="add-features">
          <div class="row">
            <div class="col s12">
              <h5>Add stores that carry this brand:</h5>
              <form action="/brand/{{ brands.getId }}/add_store" method="post">
                <input type="hidden" name="name" value="{{ brands.getId }}">
                  <select name="id" class="form-control">
                    {% for brand_store in brand_stores %}
                      <option value="{{ brand_store.getId }}">{{ brand_store.getName }}</option>
                    {% endfor %}
                  </select>
                 <br>
                <button type="submit" class="waves-effect waves-light btn-large" name="button">Submit</button>
              </form>
              <br>
              <a href="/brands" type="submit" class="waves-effect waves-light btn-large" name="button">Return</a>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
