<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Zappos</title>
  </head>
  <body>
    <div class="container">
      <h3>{{ shoe_stores.getName }}</h3>
       <h5>Brands carried:</h5>
        {% if store_brands is not empty %}
          <ul>
            {% for store_brand in store_brands %}
              <li><a href="/brand/{{ store_brand.getId }}">{{ store_brand.getName }}</a></li>
            {% endfor %}
          </ul>
            {% else %}
              <p>There are no brands listed...</p>

        {% endif %}
        <div class="add-features">
          <div class="row">
            <div class="input-field col s12 form-group">
              <h5>Add brand:</h5>
              <form action="/store/{{ shoe_stores.getId }}/add_brand" method="post">
                <input type="hidden" name="name" value="{{ shoe_stores.getId }}">
                  <select name="brand_id" type="text" class="form-control">
                    {% for brand in brands %}
                      <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                    {% endfor %}
                  </select>
                 <br>
                <button type="submit" class="waves-effect waves-light btn-large" name="button">Submit</button>
              </form>
              <br>
              <h5>Rename this store:</h5>
              <form action="/store/{{ shoe_stores.getId }}/edit" method="post">
                <input name="_method" type="hidden" value="patch">
                  <input id="name" name="name" type="text" required>
                  <br>
                  <button type="submit" class="waves-effect waves-light btn-large" name="button">Edit</button>
              </form>
              <br>
              <form action="/store/{{ shoe_stores.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="waves-effect waves-light btn-large" name="button">Delete</button>
              </form>
              <br>
              <a href="/shoe_stores" type="submit" class="waves-effect waves-light btn-large" name="button">Return</a>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
